<h1>Trips</h1>

<div class="container d-flex">
  <div class="filter">
    <%= form_tag trips_path, method: :get do %>
      <%= text_field_tag :origin,
        params[:origin],
        class: "form-control",
        placeholder: "Origin"
      %>
        <%= text_field_tag :destination,
        params[:destination],
        class: "form-control",
        placeholder: "Destination"
      %>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Reset", trips_path, class: "btn btn-primary" %>
  </div>

  <% if params[:origin] == "" && params[:destination] == "" || params[:origin].nil? && params[:destination].nil? %>
    <%= render "partials/trip-cards", trips: @trips %>
  <% else %>
    <% params[:origin] = params[:origin].capitalize %>
    <% params[:destination] = params[:destination].capitalize %>
    <%= render "partials/trip-cards", trips: @trips_search %>
  <% end %>

</div>
