<div class="container">
  <div class="container-card">
    <div class="header-trip">
      <h1><%=" Trip from #{@trip.origin} to #{@trip.destination}"%></h2>
    </div>
    <div class="row">
      <div class="cards-trip">
        <div class="card-details col-lg-4">
          <h3 style="text-align: center">Trip Details</h3>
          <ul>
            <a href="#"><li><span><%="Driver: #{@trip.user.first_name} #{@trip.user.last_name}"%><%= render 'partials/avatar_show' %></span></li></a>
            <% if @driver_reviews.length > 0 %>
              <%= "Average Rating: " %>
              <% @average_review.times do %>
                <i class='fas fa-star'></i>
              <% end %>
              <% (5 - @average_review).times do %>
                <i class='far fa-star'></i>
              <% end %>
            <% end %>
            <li><%="Driver email: #{@trip.user.email}"%></li>
            <li><%="Number of Seats Available: #{@trip.seats}"%></li>
            <li><%="Date of Departure: #{@trip.departure_time.strftime '%a, %d of %b at %H:%M'}"%></li>
            <div class="price">
              <li><%="Price: £#{@trip.price}"%></li>
            </div>
          </ul>
        </div>
        <div class="card-image col-lg-8">
          <div
            id="map"
            style="width: 700px;
            height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
         </div>
      </div>
    </div>
    <% if @trip.seats > 0 %>
    <div class="button-book">
      <% if @trip.user != current_user %>
      <%= link_to 'Book Trip', trip_bookings_path(@trip), class:'btn btn-primary', method: :post %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
