<ul class="list-group booking-table">
  <li class="table-head">
    <span>Departure/Arrival</span>
    <span>Departure Time</span>
    <span>Price</span>
    <span>Driver</span>
  </li>
  <% bookings.each do |booking| %>
    <% trip = booking.trip %>
      <%= link_to trip_path(trip) do %>
      <li class="list-group-item">
        <div >
          <span><%= trip.origin %>
            <i class="fas fa-arrow-right"></i>&nbsp;<%= trip.destination %></span>
          <span class="trip-table__date"><%= trip.departure_time.strftime '%a, %d of %b at %H:%M' %></span>
          <span><%= "£#{trip.price}"%></span>
          <span><%= trip.user.first_name %>
            <%= trip.user.last_name %><img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier"></span>
        </div>
        <div>
            <span class="<%= booking.status %>">Status: <%= booking.status %></span>
            <%= current_user.first_name %>
            <%= booking.trip.user.first_name %>
            <%= current_user ==  booking.trip.user %>
            <% if current_user ==  booking.trip.user %>
              Yes mine
            <% end %>
            <span>
              <%= booking.user.first_name %> <%= booking.user.last_name %>
              <% if @user.photo.attached? %>
                <%= cl_image_tag booking.user.photo.key, crop: :fill, class: "avatar" %>
              <% else %>
                <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
              <% end %>
            </span>
        </div>
      </li>
    <% end %>
  <% end %>

</ul>
