<div class="container-fluid container">
  <div class="sidebar">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 100, width: 50, crop: :fill, class: "avatar" %>
    <% else %>
      <img class="avatar" src="https://wiki.engineeredarts.co.uk/w/images/f/fe/GuiseSample01.jpg">
    <% end %>
    <%= current_user.first_name %>
    <%= current_user.last_name %>
    <%= current_user.email %>
    <%= link_to "Edit profile", edit_user_registration_path %>
  </div>
  <div class="content">
    <h2 class="text-center">My created trips</h2>
    <%= render 'partials/trip-cards', trips: @my_trips %>
    <br><br><br>
    <h2 class="text-center">My booked trips</h2>
    <%= render 'partials/trip-cards', trips: @booked_trips %>
  </div>
</div>

</div>
