<div class="container-fluid container">
<<<<<<< Updated upstream
  <div class="sidebar">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar" %>
    <% else %>
      <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
    <% end %>
  <div class="sidebar container-card">
    <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
>>>>>>> Stashed changes
    <%= current_user.first_name %>
    <%= current_user.last_name %>
    <%= current_user.email %>
    <%= link_to "Edit profile", edit_user_registration_path %>
  </div>
  <div class="content">
    <div class="container-card p-4 ">
      <h2 class="text-center">My created trips</h2>
      <%= render 'partials/trip-cards', trips: @my_trips %>
    </div>
    <div class="container-card p-4">
      <h2 class="text-center">My booked trips</h2>
      <%= render 'partials/booking-cards', bookings: @bookings %>
    </div>
  </div>
</div>
