<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1498637841888-108c6b723fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1791&q=80);">
  <div class="container">
    <h1>Tripster</h1>
    <p>Make the journey part of the experience</p>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= asset_url("atlas-green-VGOiY1gZZYg-unsplash.jpg")%>);">
  <div class="container">
    <h2>Where are you travelling from?</h2>
      <div class="search-form-control">
        <%= form_tag trips_path, method: :get do %>
          <%= text_field_tag :origin,
            params[:origin],
            class: "form-control",
            placeholder: "City"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      </div>
    </form>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(240,240,240,0.15)), url(https://images.unsplash.com/photo-1532623914234-70b82f9fdb85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <div class="create-banner">
      <h2>Create your own trip to share!</h2>
      <p> Split the burden and price of your journey by offering the empty seats in your car.
       It is a new social and enviromentally friendly way to travel!</p>
      <%= link_to "Create a Ride", new_trip_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="footer">

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
